/node_modules
/public/config
/storage/*.key
/storage/pdfs
/storage/evidencias
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
